.containerInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-items: center; */
  align-content: center;
  /* align-items: center; */
  width: 40wh;
  /* height: 100vh; */
}
.containerSelector {
  display: flex;
  justify-content: center;
  /* justify-items: center; */
  align-content: center;
  /* align-items: center; */
  width: 60wh;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
label {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
input {
  width: 95%;
}
.myInput {
  width: 95%;
  font-size: 16px;
  padding: 10px 0px 10px 0px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
