<div class="zone-pick">
  <div
    (click)="choseOne('Student')"
    [ngClass]="curDB === 'Student' ? 'dkz-selected-btn' : 'zone-dkz-button'"
  >
    Студенти
  </div>
  <div
    (click)="choseOne('Professor')"
    [ngClass]="curDB === 'Professor' ? 'dkz-selected-btn' : 'zone-dkz-button'"
  >
    Викладачі
  </div>
  <div
    (click)="choseOne('Worker')"
    [ngClass]="curDB === 'Worker' ? 'dkz-selected-btn' : 'zone-dkz-button'"
  >
    Співробітники Бібліотеки
  </div>
  <div
    (click)="choseOne('Book')"
    [ngClass]="curDB === 'Book' ? 'dkz-selected-btn' : 'zone-dkz-button'"
  >
    Книжки
  </div>
  <div
    (click)="choseOne('BookAuthor')"
    [ngClass]="curDB === 'BookAuthor' ? 'dkz-selected-btn' : 'zone-dkz-button'"
  >
    Автори
  </div>
  <div
    (click)="choseOne('BookPublisher')"
    [ngClass]="
      curDB === 'BookPublisher' ? 'dkz-selected-btn' : 'zone-dkz-button'
    "
  >
    Видавництва
  </div>
  <div
    (click)="choseOne('StudentCard')"
    [ngClass]="curDB === 'StudentCard' ? 'dkz-selected-btn' : 'zone-dkz-button'"
  >
    Картки студентів
  </div>
  <div
    (click)="choseOne('ProfessorCard')"
    [ngClass]="
      curDB === 'ProfessorCard' ? 'dkz-selected-btn' : 'zone-dkz-button'
    "
  >
    Картки викладачів
  </div>
</div>
<input
  type="text"
  class="myInput"
  placeholder="Search for smt.."
  title="Type in smt"
  (input)="onFindSmt()"
  [(ngModel)]="findSmtVar"
/>
<table *ngIf="tableData">
  <tr>
    <th>№</th>
    <th *ngFor="let key of dataStructureForT">{{ key }}</th>
  </tr>
  <tr *ngFor="let myObj of tableData; let i = index" (click)="getData(i)">
    <!-- {{ myObj | json }} -->
    <td>{{ i + 1 }}</td>
    <td *ngFor="let key of dataStructureForT">{{ myObj[key] }}</td>
  </tr>
</table>
<div class="containerInput">
  <label *ngFor="let key of dataStructureForI"
    >{{ key }}
    <input type="text" [(ngModel)]="form[key]" />
  </label>
  <ng-container>
    <div class="edit-buttons">
      <button [disabled]="chkBtnDisabled()" (click)="onUpdate()">
        Обновить
      </button>
      <button [disabled]="chkBtnDisabled()" (click)="onDelete()">
        Удалить
      </button>
      <button (click)="onCreate()">Добавить</button>
    </div>
  </ng-container>
</div>
